# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TechnicalUniversity.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\k.krachmarov\source\repos\TechnicalUniversity\.idea\.idea.TechnicalUniversity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
